/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/
/* CSS to better visually match Docsify pages within Canvas LMS (uncomment to use) */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body .markdown-section {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.markdown-section blockquote {
  border-color: #757b7f;
}

.markdown-section .alert {
  border-color: #757b7f;
}

.progress {
  background-color: #757b7f;
}

body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

body .app-nav {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.app-nav:not(:empty)~main .markdown-section {
  padding-top: 6.5rem;
}

.markdown-section  #docsify-darklight-theme {
    visibility: hidden;
}

.markdown-section .badge {
  color: var(--codeBackgroundColor);
  background-color: var(--blockQuoteColor);
}

.markdown-section .badge a {
  color: var(--codeBackgroundColor);
}
